.detail-Container{
   display: flex;
   justify-content: space-between;
   width: 100%;
   align-items: center;
   padding: 0 160px;
   margin-top: 15px;
}

.detail-Container .image-insurance{
  height: 400px;
  width: 400px;
  transition: all 0.5s;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex: 1;
  border-radius: 15px;
}
.Detail-title{
  width: 100%;
  display: flex;
  justify-content: center;

}
.Detail-title h2{
  font-weight: bold;
  font-size: 25px;
}
.detail-content{
  flex: 1;
  padding: 20px;
}
.card-text-detail{
  margin-bottom: 20px;
  display: flex;
}
.card-text-detail .price{
  margin-right: 10px;
}
.description-detail{
  margin-bottom: 10px;
  font-size: 28px;
}
.btn-buy{
  margin-left: 0px;
  width: 34%;
}
.card-text{
  margin-bottom: 6px;
}
.text-detail{
  text-align: justify;
}
.back-list{
  position: relative;
  top: 80px;
  left: 30px;
  color: rgb(93, 14, 251);
  text-decoration: underline;
  cursor: pointer;
  font-size: 25px;
}
.back-list:hover{
  color: rgb(164, 183, 41);
  transition: 0.2s;
}