.container-register{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-image: url("https://www.shutterstock.com/image-illustration/paper-cut-insurance-concept-on-260nw-1521702107.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
  background-color: rgb(54, 158, 158);
}

.footer-register{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.footer-register a{
  text-decoration: underline;
  color: blue;
}