
.users-table{
  margin-top: 10px;
  margin-bottom: 5rem;
  padding: 0 20px;
  table{
    table-layout: fixed;
    width: 100%;
    tr{
      td{
        button{
          cursor: pointer;
          backgound-color: none;
          border: none;
        }
        .btn-update{
          color: orange;
          margin-right: 10px;
        }
        .btn-delete{
          color: red;
          border: none;
        }
      }
    }
  }
  #customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(odd){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }
}
.container{
  width: 100%;
}